In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movies = pd.read_csv("./movies.csv")

In [3]:
movies['year'] = movies['title'].str.extract(r'\((\d{4})\)')

# Convert the 'year' column to numeric type
movies['year'] = pd.to_numeric(movies['year'], errors='coerce')

movies['title'] = movies['title'].str.replace(r'\(\d{4}\)', '').str.strip()

C:\Users\bhush\AppData\Local\Temp\ipykernel_19076\562480231.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  movies['title'] = movies['title'].str.replace(r'\(\d{4}\)', '').str.strip()

In [4]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,2,Jumanji,Adventure|Children|Fantasy,1995.0
2,3,Grumpier Old Men,Comedy|Romance,1995.0
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995.0
4,5,Father of the Bride Part II,Comedy,1995.0

In [5]:
len(movies)

62423

In [6]:
bigmovies = pd.read_csv("./TMDB_movie_dataset_v11.csv")

In [7]:
bigmovies.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages'],
      dtype='object')

In [8]:
cols = ['title','overview']
bmov = bigmovies[cols]

In [9]:
len(bmov)

939492

In [10]:
datas = [movies,bmov]

In [22]:
movL = pd.merge(movies, bmov, on='title',how='left')
#movL.to_csv("joined.csv")

In [24]:
movL = movL.dropna(subset=['movieId'])
movL = movL.dropna(subset=['title'])
#movL = movL.drop('overview_x',axis=1)

movL = movL.dropna(subset=['overview'])

In [25]:
movL

,movieId,title,genres,year,overview
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995.0,"Led by Woody, Andy's toys live happily in his ..."
1,2,Jumanji,Adventure|Children|Fantasy,1995.0,When siblings Judy and Peter discover an encha...
2,3,Grumpier Old Men,Comedy|Romance,1995.0,A family wedding reignites the ancient feud be...
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995.0,"Cheated on, mistreated and stepped on, the wom..."
4,5,Father of the Bride Part II,Comedy,1995.0,Just when George Banks has recovered from his ...
...,...,...,...,...,...
163388,209157,We,Drama,2018.0,200 years have passed after The Great War. The...
163390,209163,Bad Poems,Comedy|Drama,2018.0,"33-years old Tamás Merthner is heartbroken, af..."
163391,209169,A Girl Thing,(no genres listed),2001.0,A Girl Thing is a mini-series that revolves ar...
163392,209169,A Girl Thing,(no genres listed),2001.0,All girl scenes bringing the essence of sensua...
163393,209171,Women of Devil's Island,Action|Adventure|Drama,1962.0,Italian costume drama about convicted women in...

In [31]:
movL = movL.drop_duplicates(subset=['title'])
movL = movL.drop_duplicates(subset=['movieId'])

In [33]:
movL.drop_duplicates()
movL.nunique()

movieId     44203
title       44203
genres       1381
year          131
overview    44187
dtype: int64

In [34]:
movL.to_csv("joined4.csv")