In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

movies = pd.read_csv("./joined4.csv")

In [3]:
movies.head()

,Unnamed: 0,movieId,title,genres,year,overview
0,0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995.0,"Led by Woody, Andy's toys live happily in his ..."
1,1,2,Jumanji,Adventure|Children|Fantasy,1995.0,When siblings Judy and Peter discover an encha...
2,2,3,Grumpier Old Men,Comedy|Romance,1995.0,A family wedding reignites the ancient feud be...
3,3,4,Waiting to Exhale,Comedy|Drama|Romance,1995.0,"Cheated on, mistreated and stepped on, the wom..."
4,4,5,Father of the Bride Part II,Comedy,1995.0,Just when George Banks has recovered from his ...

In [4]:
movies = movies.drop('Unnamed: 0', axis=1)

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD

In [6]:

# Define the features to use for similarity
features = movies[['overview', 'genres']]

# Instantiate and fit TfidfVectorizer 
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['overview'])

# Calculate cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix) 

# Create a mapping of movie titles to indices
indices = pd.Series(movies.index, index=movies['title'])

# Function to get recommendations
tfidf_matrix.shape

(44203, 66796)

In [25]:
def get_recommendations(title, cosine_sim=cosine_sim):
    
    # Get index of movie
    idx = indices[title]

    # Get pairwise similarity scores  
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort movies by similarity
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Return top 10 most similar movies
    return sim_scores[1:11]

# Get recommendations for a movie  
ans = get_recommendations("Toy Story")

In [26]:
for i,j in ans:
    print(movies['title'][i])

Toy Story 3
Toy Story 2
The Dizzy Acrobat
Toy Story 4
Small Fry
Buzz Lightyear of Star Command: The Adventure Begins
Andy Hardy's Blonde Trouble
Andy Kaufman Plays Carnegie Hall
Hot Splash
Superstar: The Life and Times of Andy Warhol